main {
  background-color: #1c1c1c;
  color: #ffffff;
}

main .jumbotron {
  height: 350px;
  background-image: url("./img/jumbotron.jpg");
  background-position: 25% 0%;
  background-size: cover;
}

main .badge-series {
  max-width: 1200px;
  margin: 0 auto;
}

main .badge-series section {
  position: relative;
  top: -2rem;
  left: -2rem;
  font-size: 2.5rem;
  font-weight: bolder;
  font-variation-settings: "wdth" 75;
  padding: 0.7rem 1rem;
  max-width: fit-content;
  background-color: #0282f9;
}

main .comicsSection {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

main .comic {
  max-width: 180px;
  text-transform: uppercase;
}

.comic .cover {
  object-fit: cover;
  height: 180px;
  width: 180px;
}

main .btn-container {
  margin: 1rem auto;
  text-align: center;
}

main .btn-container .load-more-btn {
  background-color: #0282f9;
  padding: 0.5rem 3rem;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  font-variation-settings: "wdth" 75;
}

/* 
STILI GANZI PER I BOTTONI CONSIGLIATI DA GEMINI!

Un leggero cambio colore quando ci passi sopra con il mouse 
main .btn-container .load-more-btn:hover {
  cursor: pointer; 
  background-color: #0376e2;
}
Il feedback al click vero e proprio
main .btn-container .load-more-btn:active {
  transform: scale(0.96); 
} */
